<!-- 
<body>
<div class="container">
<h1> <%= @group.name  %> </h1>
<h2>Group Description:<%= @group.description  %> </h2>
<h2>Members:</h2>
<h2> <% my_users = @group.users.each do |user|  %> </h2>
<h3><%= link_to user.name, "/users/#{user.id}" %></h3>
<% end %>
<h2>Events:</h2>
<% my_users.each do |users| %>
<% users.events.each do |events| %>
<h3><%=link_to events.title, "/events/#{events.id}" %> </h3>
<% end %>
<% end %>
</div>
</body> -->

<body>
    <div class="container">
      <div class="row">
        <div class="col-lg-10 col-xl-9 mx-auto">
          <div class="card card-signin flex-row border-0 shadow my-5">
            <div class="card-img-left d-none d-md-flex">
            </div>
            <div class="card-body">
              <h1 class="card-body text-center"> <%= @group.name.capitalize %> Group</h1>
              <%= @group.users.size %>
              <% if @group.users.size == 1 %>
              Member
              <% else %>
              Members
              <% end %>
              <h5 class="card-title text-center"><strong> Description:</strong> <%= @group.description %></h5>
              <h5 class="card-title text-center"> <strong>Group Members:</strong></h5>
              <h5 id="show-group-members"><% @group.users.each do |user| %> </h5>
              <ul id="show-group-members"><%= user.name %> </ul>
              <h5 class="card-title text-center"> 
                <% end %>
                <br>
                <br>
                <p id="edit_group" ><%= link_to "Edit Group", "/groups/#{@group.id}/edit"%> </p>
                <%= link_to  "Leave Group", "/groups/usergroups/#{@group.id}", method: "delete" %>
                <br>
              </div>
            </div>
        </div>
      </div>
    </div>

    <% groups_events = [] %>
    <% @group.users.each do |user| %>
    <% user.events.each do |event| %>
    <% groups_events << event %>
    <% @unique_events = groups_events.uniq %>
    <% end %>
    <% end %>

    <div id ="cal-table-format"></div>
    <div id="calendar-format"> 
    <%= month_calendar events: @unique_events do |date, events| %>
    <small><%= date.day %> </small>
  </div>

  <% events.each do |event| %>
      <div>
        <%= link_to event.title, event_path(event) %>
        <p>Host:        
          <% @hosts = [] %>
          <% UserEvent.all.each do |userevent| %>
          <% if userevent.host == true %>
          <% @hosts << userevent %>
          <% @hosts %>
          <% end  %>
          <% end  %>
          <% @hosts.each do |host| %>
          <% if host.event_id.to_i == event.id%>
          <% @host = host.user.name %>
          <%= @host %>
          <% end  %>
          <% end  %>
          
           </p> 
      </div>
    <% end %>
  <% end %>
    </div>


  </body>







