<div class="container">
        <div class="row">
          <div class="col-lg-10 col-xl-9 mx-auto">
            <div class="card card-signin flex-row border-0 shadow my-5">
              <div class="card-img-left d-none d-md-flex">
              </div>
              <div class="card-body">
                <h5 class="card-title text-center">Edit profile</h5>
                <%= form_for @user do |f| %>
                  <div class="form-label-group">
                    <%= f.text_field :name, class: 'form-control' %>
                    <label>Name</label>
                  </div>
                  <div class="form-label-group">
                    <%= f.text_field :age, class: 'form-control' %>
                    <label>Age</label>
                  </div>
                  <div class="form-label-group">
                        <%= f.text_field :bio, class: 'form-control' %>
                        <label>Bio</label>
                      </div>
                  <hr>
                  <%= f.submit "Edit profile", class: "btn btn-lg btn-primary btn-block text-uppercase" %>
                  <hr class="my-4">
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>