<!-- <div id="header">
    <h1>Sign Up</h1>
<%= form_for @user do |f| %>
<%= f.label :name %>
<div class="form_input"><%= f.text_field :name %></div>
<%= f.label :age %>
<div class="form_input"> <%= f.text_field :age %> </div>
<%= f.label :bio %>
<div class="form_input"><%= f.text_field :bio %> </div>
<%= f.label :password %>
<div class="form_input"><%= f.password_field :password %> </div>
<br>
<%= f.submit  "Create user" %>
<% end %>
</div>  -->

<div class="container">
        <div class="row">
          <div class="col-lg-10 col-xl-9 mx-auto">
            <div class="card card-signin flex-row border-0 shadow my-5">
              <div class="card-img-left d-none d-md-flex">
              </div>
              <div class="card-body">
                <h5 class="card-title text-center">Sign Up! 
                    <% if flash[:message] %>
                    <br>
                    <br>
                    <%= flash[:message] %>
                    <% end %>                    
                </h5>
                
                <%= form_for @user do |f| %>
                  <div class="form-label-group">
                    <%= f.text_field :name, class: 'form-control' %>
                    <label>Name</label>
                  </div>
                  <div class="form-label-group">
                    <%= f.text_field :age, class: 'form-control' %>
                    <label>Age</label>
                  </div>
                  <div class="form-label-group">
                        <%= f.text_field :bio, class: 'form-control' %>
                        <label>Bio</label>
                      </div>
                  <hr>
                  <div class="form-label-group">
                    <%= f.password_field :password, class: 'form-control' %>
                    <label>Password</label>
                  </div>
                  <%= f.submit "Sign Up", class: "btn btn-lg btn-primary btn-block text-uppercase" %>
                  <hr class="my-4">
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    


