


<h1><%= @user.name %> </h1>
<h2>Age: <%= @user.age %> </h2>
<h2>Bio: <%= @user.bio %> </h2>
<%= link_to "logout", "/logout" %>

<h2>My Groups</h2>
<% @user.groups.each do |group| %>
<h2> <li><%= link_to group.name, "/groups/#{group.id}" %> </li> </h2>
<% end %>









