
html

<h1><%= @user.name %> </h1>
<h2>Age: <%= @user.age %> </h2>
<h2>Bio: <%= @user.bio %> </h2>
<%= link_to "logout", "/logout" %>

<h2>My Groups</h2>
<% @user.groups.each do |group| %>
<h3> <ul><%= link_to group.name, "/groups/#{group.id}" %> </ul> </h3>
<% end %>


<%= month_calendar events: @user.events do |date, events| %>
  <small><%= date.day %> </small>

  <% events.each do |event| %>
    <div>
      <%= link_to event.title, event_path(event) %>
      <p>Host: <%= event.host %> </p> 
    </div>
  <% end %>
<% end %>









