<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->


<body>
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-xl-9 mx-auto">
        <div class="card card-signin flex-row border-0 shadow my-5">
          <div class="card-img-left d-none d-md-flex">
          </div>
            <div class="card-body">
              <h1 class="card-body text-center"><%= @user.name %></h1>
              <p id="edit_user" ><%= link_to "Edit Profile", "/users/#{@user.id}/edit"%> </p>
              <h5 class="card-title text-center"> Age: <%= @user.age %></h5>
              <h5 class="card-title text-center"> Bio: <%= @user.bio %></h5>
              <h5 class="card-title text-center"> My Groups:</h5>
                <% @user.groups.uniq.each do |group| %>
              <li id="profile_groups"> <%= link_to group.name, "/groups/#{group.id}" %> </li>
              <% end %>
<br>
              <h5 class="card-title text-center">Looking for new events?</h5>
              <%= button_to('Find Groups', "/users/#{@user.id}/groups", :class => "btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2", :method => "get") %>
              <br>
              <%= button_to('Find Events', events_path, :class => "btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2", :method => "get") %>
<br>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>



  

  <div id="calendar-format" ><%= month_calendar events: @user.events do |date, events| %>
    <small><%= date.day %> </small>
  </div>



    <% events.each do |event| %>
      <div>
        <%= link_to event.title, event_path(event) %>
        <p>Host: 
        <% @hosts = [] %>
        <% UserEvent.all.each do |userevent| %>
        <% if userevent.host == true %>
        <% @hosts << userevent %>
        <% @hosts %>
        <% end  %>
        <% end  %>
        <% @hosts.each do |host| %>
        <% if host.event_id.to_i == event.id%>
        <% @host = host.user.name %>
        <%= @host %>
        <% end  %>
        <% end  %>
         </p> 
      </div>
    <% end %>
  <% end %>

