<body id="body">
  <h1><%= @user.name %> </h1>
  <h2>Age: <%= @user.age %> </h2>
  <h2>Bio: <%= @user.bio %> </h2>



  <h2>My Groups</h2>
  <% @user.groups.each do |group| %>
  <h3> <ul><%= link_to group.name, "/groups/#{group.id}" %> </ul> </h3>
  <% end %>


  <select name="forma" onchange="location = this.value;">
      <% @user.groups.each do |group| %>
        <option value=<%"/groups/#{group.id}"%> ><%= group.name %></option>
        <% end %>
       </select>


  <%= month_calendar events: @user.events do |date, events| %>
    <small><%= date.day %> </small>

    <% events.each do |event| %>
      <div>
        <%= link_to event.title, event_path(event) %>
        <p>Host: <%= event.host %> </p> 
      </div>
    <% end %>
  <% end %>

</body>