
<body>
        <div class="container">
          <div class="row">
            <div class="col-lg-10 col-xl-9 mx-auto">
              <div class="card card-signin flex-row border-0 shadow my-5">
                <div class="card-img-left d-none d-md-flex">
                </div>
                <div class="card-body">
                    <h5 class="card-title text-center">Join a Group to discover new events</h5>
                    <%= button_to('Find Groups', "/users/#{@user}/groups", :class => "btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2", :method => "get") %>
                  <br>   
                  <h5 class="card-title text-center">Nothing interesting?</h5>
                  <%= button_to('Create Event', new_event_path, :class => "btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2", :method => "get") %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </body>


        <% allevents = [] %>
        <% @groups.each do |groups| %>
        <% if groups.users.ids.include?(session[:user_id]) %>
        <% groups.users.each do |users| %>
        <% users.events.each do |event| %>
        <% allevents << event %>
        <% end %>
        <% end  %>
        <% end %>
        <% end  %>
        <% allevents.uniq.each do |event| %>

        <body>
        <div class="container">
          <div class="row">
            <div class="col-lg-10 col-xl-9 mx-auto">
              <div class="card card-signin flex-row border-0 shadow my-5">
                <div class="card-img-left d-none d-md-flex">
                </div>
                <div class="card-body">
                  <h1 class="card-body text-center"><%= link_to event.title, event_path(event)%></h1>
                    <%= form_tag "/users/joinevent/#{event.id}" do %>
                  <h5 class="card-title text-center">Want to attend?</h5>
                  <%= submit_tag "Join Event", :class => "btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2"%>
                  <% end %>

                     <br>
                </div>
              </div>
            </div>
          </div>
        </div>
        <% end %>
      </body>

