<% @hosts = [] %>
<% UserEvent.all.each do |userevent| %>
<% if userevent.host == true %>
<% @hosts << userevent %>
<% @hosts %>
<% end  %>
<% end  %>
<% @hosts.each do |host| %>
<% if host.event_id.to_i == @event.id%>
<% @host = host.user %>
<% end  %>
<% end  %>




<body>
        <div class="container">
          <div class="row">
            <div class="col-lg-10 col-xl-9 mx-auto">
              <div class="card card-signin flex-row border-0 shadow my-5">
                <div class="card-img-left d-none d-md-flex">
                </div>
                <div class="card-body">
                  <h1 class="card-body text-center"><%= @event.title %></h1>
                  <% if session[:user_id] == @host.id.to_i %>
                  <p id="edit_event" ><%= link_to "Edit Event", edit_event_path(@event)%> </p>
                  <% end  %>
                  <h5 class="card-title text-center"> Location: <%= @event.location %></h5>
                  <h5 class="card-title text-center"> Description: <%= @event.description %></h5>
                  <h5 class="card-title text-center"> Host: <%= @host.name %></h5>
                  <h5 class="card-title text-center"> Start: <%= @event.start_time.strftime("%B %d, %Y") %></h5>
                  <h5 class="card-title text-center"> End: <%= @event.end_time.strftime("%B %d, %Y") %></h5>
                  <h5 class="card-title text-center"> Attendees:</h5>

                    <% @event.users.each do |user| %>
                  <li id="profile_groups"> <%= user.name %> </li>
                  <% end %>
                  <br>
                  <%= form_tag "/users/joinevent/#{@event.id}" do %>
                  <%= submit_tag "Attend Event", :class => "btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2"%>
                  <% end %>

    <br>

                  <h5 class="card-title text-center">Looking for new events?</h5>
                  <br>

                   <%= button_to('Find Events', events_path, :class => "btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2", :method => "get") %>

    <br>
                </div>
              </div>
            </div>
          </div>
        </div>
      </body>